################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Lab03/.vs/Lab03/v15/Server/sqlite3/db.lock
