@{
    ViewBag.Title = "About";
}


<body background="~/Content/Gramilla.jpg">
</body>

<h2><font color="#FFFFFF">@ViewBag.Title.</font></h2>

<p><font color="#FFFFFF">Visita la Pagina Oficial de la FIFA</font></p>
<br />
<href><font color="#FFFFFF">http://es.fifa.com/</font></href>
