@{
    ViewBag.Title = "Home Page";
}

<body background="~/Content/FondoG.jpg">
</body>

    <div class="jumbotron">
        <h1 align="center">Partidos</h1>
        <img src="~/Content/imagenHTML2.png" />
        <p class="lead">PARTIDOS DE LA FIFA 2018</p>
        <p><a href="http://es.fifa.com/" class="btn btn-primary btn-lg">Mas sobre la FIFA &raquo;</a></p>
    </div>
    <div class="jumbotron">
        <div style="border: 5px solid skyblue" class="modal-content">
            <h2>Agrega Partidos</h2>
            <p>
                Agrega Partidos de la FIFA por medio de un Archivo Json, que luego sera deserealizado, ordenado y Analizado para
                Ingresarlo a la base de Datos de nuestros Partidos
            </p>
            <p><a class="btn btn-primary" @Html.ActionLink("Subir Archivo Json", "UploadFile", "Partido")</a></p>
        </div>
        <br />
        <div  style="border: 5px solid skyblue" class="modal-content">
            <h2>Agrega Partidos de Forma Manual</h2>
            <p>Ingresa Partidos de Forma Manual, Agregando los que quieras e ingresandolos por la clave que prefieras</p>
            <p><a class="btn btn-primary" @Html.ActionLink("Crear Partidos", "Create", "Partido")</a></p>
        </div>
        <br />
        <div  style="border: 5px solid skyblue" class="modal-content">
            <h2>Mas Sobre Nosotros</h2>
            <p>Aprende mas de Nosotros, Los Desarrolladores de esta Aplicacion, da click aqui, y Conocenos!</p>
            <p><a class="btn btn-primary" href="https://www.facebook.com/pablo.alvarado.35325">Mas Sobre Nosotros</a></p>
        </div>
    </div>
